{% extends "padre.html" %}

{% load static %}

{% block bloquecambia %}

    <h2 class="text-center">Buscar Indumentaria</h2>
    <br><br>
    <form class="text-center" action="{% url 'Busqueda3' %}" method="GET">
        
        
        <p>Ingrese el modelo: <input    type="text" name="tipo" ></p>
        
       <br>
    
        <input class="btn btn-outline-dark mt-auto"  type="submit" value="Buscar"  >

        <br><br>
    </form>
    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="/Appventas/">VOLVER</a></div>

    <br><br>
    



{% endblock bloquecambia %}