{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

    <p>Se busco el repuesto: {{tipo}}</p>

    
    {% if tipos %}
         
        {% for item in tipos  %}
        <li>Codigo: {{item.codigo}}. Tipo: {{item.tipo}}. Marca: {{item.marca}}. Modelo: {{item.modelo}}. Descripcion: {{item.descripcion}}. Precio: ${{item.precio}}.</li>
        {% endfor %}
    {% else %}
        <p>No hay resultados.</p>        
        
    {% endif %}
    <br>
    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'Formularios' %}">VOLVER</a></div>

    <br>
        



{% endblock bloquecambia %}