{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

    <h2>Se busco la indumentaria: {{tipo}}</h2>

    
    {% if tipos %}
        
        {% for item in tipos  %}
        <li>Codigo: {{item.codigo}}. Tipo: {{item.tipo}}. Marca: {{item.marca}}. Modelo: {{item.modelo}}. Talle: {{item.talle}}. Descripcion: {{item.descripcion}}. Precio: ${{item.precio}}.</li>
        {% endfor %}
    {% else %}
        <p>No hay resultados.</p>        
        
    {% endif %}
    <br>
    <div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="/Appventas/">VOLVER</a></div>
    
    <br>



{% endblock bloquecambia %}