{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}

<br>
<div class="container px-4 px-lg-1 mt-1">
    <br>
    <h3>Registrarse</h3>
    <h6 style="color:#FF0000">{{mensaje}}</h6>
    <form action="" method="POST">
     {% csrf_token %}


     {{form.as_p}}

     <button type="submit">Crear usuario </button>
    </form>
    <br>
    <br>
<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="{% url 'Login' %}">Volver</a></div>

<br><br>
{% endblock bloquecambia %}