{% extends 'Padre.html' %}

{% load static %}

{% block bloquecambia %}
<header class="bg-dark py-5">


    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Quienes somos?</h1>
            <p class="lead fw-normal text-white-50 mb-0">Las mentes detras de todo esto</p>
        </div>
    </div>
</header>
 <br><br><br>

<div class="text-center team-member">
    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="...">
    <h4>Martin Goñi</h4>
    <p class="text-muted">Developer</p>
    <a class="btn btn-dark btn-social mx-2"  href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-dark btn-social mx-2"  href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-dark btn-social mx-2"  href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
</div>
<br>
<br>
    







<div class="text-center" ><a class="btn btn-outline-dark mt-auto" href="/Appventas/">VOLVER</a></div>

<br><br>
{% endblock bloquecambia %}